.sidebarOption {
    color: grey;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebarOption:hover {
    color: white;
    transition: 0.2s color;
}

.sidebarOption__icon {
    padding: 0 10px;
}

.sidebarOption > p {
    margin: 10px 0 0 20px;
    font-size: 14px;
}

